{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}<br/><br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<center><h1>Change Password</h1></center>
		{% if form.errors %}
	        {% for field in form %}
	            {% for error in field.errors %}
	                <div class="alert alert-danger alert-dismissible fade show" role="alert">
					  {{ error|escape }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
	            {% endfor %}
	        {% endfor %}
	    {% endif %}
		<form action="." method="POST">
			{% csrf_token %}<br>
			<div class="form-floating mb-3">
			  <input type="password" class="form-control" id="id_old_password" placeholder="Old Password" name="old_password">
			  <label for="id_old_password">Old Password</label>
			</div>
			<div class="form-floating">
			  <input type="password" class="form-control" id="id_new_password1" name='new_password1' placeholder="New Password">
			  <label for="id_new_password1">New Password</label>
			</div>
			<br>
			<span class="helptext">
				<ul>
					<li>Your password can’t be too similar to your other personal information.</li>
					<li>Your password must contain at least 8 characters.</li>
					<li>Your password can’t be a commonly used password.</li>
					<li>Your password can’t be entirely numeric.</li>
				</ul>
			</span>
			<br>
			<div class="form-floating">
			  <input type="password" class="form-control" id="id_new_password2" name='new_password2' placeholder="New Password Repeat">
			  <label for="id_new_password2">New Password Repeat</label>
			</div><br/>
			<input onclick="showPassword()" type="checkbox" value="">
    <label>Show Password</label><br>
			<br/>
			<div class="row"><button class="btn btn-success">Change</button></div>
		</form>
	</div>
{% endblock %}
{% block scripts %}
<script>
    function showPassword(){
        var p1 = document.getElementById('id_old_password');
        var p2 = document.getElementById('id_new_password1');
        var p3 = document.getElementById('id_new_password2');
        if (p1.type === 'password' && p2.type === 'password' && p3.type === 'password'){
            p1.type = 'text';
            p2.type = 'text';
            p3.type = 'text';
        }else{
            p1.type = 'password';
            p2.type = 'password';
            p3.type = 'password';
        }
    }
</script>
{% endblock %}