{% extends 'base.html' %}
{% block title %}Polls{% endblock %}
{% block styles %}
{% endblock %}
{% block content %}

<br/>

{% if topics %}
	<div class="row" style="margin-bottom:2rem;">
		<a href="{% url 'add-topic' %}" class="btn btn-success">Add Poll</a>	
	</div>
	<div class="row">
	{% for topic in topics %}
		<div class="card" style="width: 100%;margin-bottom: 1rem;">
	  		<div class="card-body">
	    		<h5 class="card-title">{{ topic.name }}</h5>
	    		<h6 class="card-subtitle mb-2 text-muted">created by {{ topic.owner }}</h6>
	    		<p class="card-text">Total Votes : {{ topic.total_voters }}</p>
	    		<a href="{% url 'topic' topic.id %}" class="card-link">Vote</a>
	    		{% if user.is_superuser or user.id == topic.owner.id %}
	    		<a href="{% url 'update-topic' topic.id %}" class="card-link">Update Poll</a>
	    		<a href="{% url 'delete-topic' topic.id %}" class="card-link">Delete Poll</a>
	    		{% endif %}
	  		</div>
		</div>
	{% endfor %}
{% else %}
	<center><h1>No Polls here</h1><a href="{% url 'add-topic' %}">Add Poll</a></center>
{% endif %}
</div>
{% endblock %}