{% extends 'base.html' %}
{% block title %}Update Option{% endblock %}
{% block content %}<br/><br/>
	<div class="shadow p-3 mb-5 bg-body rounded">
		<center><h1>Update Option</h1></center>
		{% if form.errors %}
	        {% for field in form %}
	            {% for error in field.errors %}
	                <div class="alert alert-danger alert-dismissible fade show" role="alert">
					  {{ error|escape }}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
	            {% endfor %}
	        {% endfor %}
	    {% endif %}
		<form action="." method="POST">
			{% csrf_token %}
			<div class="form-floating mb-3">
			  <input type="text" class="form-control" id="id_name" placeholder="Name" name="name" maxlength="150" value='{{ choice.name }}'>
			  <label for="id_name">Name</label>
			</div>
			<br/><br/>
			<div class="row"><button class="btn btn-success">Update</button></div>
		</form>
	</div>
{% endblock %}